* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f0f0f0;
}

.container {
    padding-top: 100px;
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.company-info {
    text-align: center;
}

.company-info h2 {
    font-size: 24px;
}

.company-description {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    
    width: 100%;
    height: 55px;
    background-color: darkslategray;

}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
    margin-left: 20px;
}

.login {
    background-color: red;
}

.navigation > li {
    list-style: none ;
    padding: 15px;
}

.navigation > li > a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.navigation > li > a:hover {
    color: crimson;
    transition: all  .3s ease-in-out;
}
.back-img {
    color: rgb(113, 103, 103);
    padding-top: 40px;
    text-align: center;
    background-image: url(Photo/Foto_toko.jpg);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.contai1 {
    max-width: 1200px;padding-bottom: 50px;
    margin-bottom: 50px;
}


